@use '../../../../styles.scss';

.brewery-container {
  width: 90%;
  max-width: 750px;
  margin: 40px auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 15px 5px;
}

.card-image-header {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.brewery-beer-list-header {
  width: 100%;
  text-align: center;
}
.brewery-beers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.brewery-beer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    color 0.3s ease,
    border-bottom 0.4s ease;
  border-bottom: 2px solid transparent;
}

.no-items-found {
  text-align: center;
}

.brewery-beer-item:hover {
  color: styles.$url-hover-hex;
  cursor: pointer;
  border-bottom: 2px solid styles.$url-hover-hex;
}

.brewery-beer-header2 {
  font-size: larger;
}

.brewery-beer-alcohol {
  font-size: 22px;
}

.brewery-container-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.brewery-container-edit-button {
  color: #00c3f9;
}

.brewery-container-save-button {
  color: #00b539;
}

//form scss

.brewery-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufactured-beers-header {
  font-size: 24px;
  border-bottom: 1px solid #b8b7b6;
  text-align: center;
  margin-top: 25px;
}

.brewery-form-container-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.form-item-header {
  font-size: 1.2rem;
  margin: 0;
}

.form-list-header {
  width: 100%;
  text-align: center;
}

.form-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.form-list-accordion {
  width: 250px;
  height: 50px;
  margin: 20px;
  transition: transform 0.3s ease;
}

.form-list-accordion {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  mat-panel-title {
    flex: 1;
  }

  mat-panel-description {
    flex: 0;
    text-align: right;
  }
}

.form-list-title {
  margin: 10px 5px;
}

.form-list-subtitle {
  margin: 10px 5px;
}

// extra's

.mat-divider {
  border-top-color: #b8b7b6;
  margin: 10px 0;
}

.custom-file-upload {
  display: inline-block;
  padding: 15px 20px;
  width: 170px;
  cursor: pointer;
  background-color: #db8c4a;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #fb9c4e;
}

.custom-file-upload input[type='file'] {
  display: none;
}
