<div class="brewery-container" *ngIf="!edit && brewery">
  <div class="button-container">
    <button mat-raised-button [routerLink]="['/beers']">+ Add beer</button>
  </div>
  <mat-card class="brewery-card">
    <img
      class="card-image-header"
      mat-card-image
      src="assets/images/brewery-placeholder1.jpg"
      alt="placeholder image of a brewery" />
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ brewery.name }}</mat-card-title>
        <mat-card-subtitle class="brewery-subtitle">{{
          brewery.location
        }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-divider class="mat-divider"></mat-divider>
    <mat-card-content>
      <div class="brewery-beers-container">
        <div *ngIf="beers.length === 0" class="no-items-found">
          <p>no beers founds....</p>
        </div>
        <div
          [routerLink]="['/beers', beer.id]"
          class="brewery-beer-item"
          *ngFor="let beer of beers">
          <h3 class="brewery-beer-header2">{{ beer.name }}</h3>
          <p class="brewery-beer-alcohol">{{ beer.alcoholPercentage }}%</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="brewery-container-actions">
      <button mat-icon-button color="warn" (click)="openDialogDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        class="brewery-container-edit-button"
        (click)="edit = true">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<form class="brewery-container" *ngIf="edit && brewery">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ brewery.name }}</mat-card-title>
        <mat-card-subtitle class="brewery-subtitle">{{
          brewery.location
        }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-divider class="mat-divider"></mat-divider>
    <mat-card-content>
      <div class="brewery-form-container">
        <div class="brewery-form-container-item">
          <h2 class="form-item-header">Name</h2>
          <mat-form-field>
            <input
              matInput
              placeholder=""
              [(ngModel)]="brewery.name"
              name="name" />
          </mat-form-field>
        </div>
        <div class="brewery-form-container-item">
          <h2 class="form-item-header">Location</h2>
          <mat-form-field>
            <input
              matInput
              placeholder=""
              [(ngModel)]="brewery.location"
              name="location" />
          </mat-form-field>
        </div>
        <div class="brewery-form-container-item">
          <h2 class="form-item-header">Upload banner (WIP)</h2>
          <label class="custom-file-upload">
            <input type="file" />
            Choose File
          </label>
        </div>
      </div>
      <div class="brewery-form-beer-list" *ngIf="beers.length > 0">
        <h2 class="manufactured-beers-header">Manufactured beers</h2>
        <div class="form-list-container">
          <mat-accordion class="form-list-accordion" *ngFor="let beer of beers">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header class="form-list-accordion-header">
                <div class="header-content">
                  <mat-panel-title> {{ beer.name }} </mat-panel-title>
                  <mat-panel-description>
                    {{ beer.alcoholPercentage }}%
                  </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <mat-card-actions class="brewery-container-actions">
                <button
                  mat-icon-button
                  (click)="openDialogUnlink(beer.name, brewery.name, beer.id)"
                  *ngIf="beer.name && brewery.name && beer.id">
                  <mat-icon>link_off</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="updateBrewery()"
                  class="brewery-container-edit-button">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-card-actions>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-divider class="mat-divider"></mat-divider>
    <mat-card-actions class="brewery-container-actions">
      <button mat-icon-button (click)="edit = false">
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="updateBrewery()"
        class="brewery-container-save-button">
        <mat-icon>save</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
