<div class = "brewery-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{brewery.name}}</mat-card-title>
                <mat-card-subtitle class="brewery-subtitle">{{brewery.location}}</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <h2 class="brewery-beer-list-header">Beer list</h2>
            <div class="brewery-beers-container">
                <div [routerLink]="['/beers', beer.id]" class="brewery-beer-item" *ngFor="let beer of beers">
                    <h3 class="brewery-beer-header2">{{ beer.name }}</h3>
                    <p class="brewery-beer-alcohol">{{ beer.alcoholPercentage }}%</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>