@use '../../../../styles.scss';

.brewery-container {
  width: 60%;
  margin: 20px auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 15px 5px;
}

.brewery-beer-list-header {
  width: 100%;
  text-align: center;
}
.brewery-beers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.brewery-beer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    color 0.3s ease,
    border-bottom 0.4s ease;
  border-bottom: 2px solid transparent;
}

.no-items-found {
  text-align: center;
}

.brewery-beer-item:hover {
  color: styles.$url-hover-hex;
  cursor: pointer;
  border-bottom: 2px solid styles.$url-hover-hex;
}

.brewery-beer-header2 {
  font-size: larger;
}

.brewery-beer-alcohol {
  font-size: 22px;
}

.brewery-container-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.brewery-container-edit-button {
  color: #00c3f9;
}

.brewery-container-save-button {
  color: #00b539;
}

//form scss

.brewery-form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brewery-form-container-item {
  flex: 1 1 45%;
  margin: 10px 0;
}

.form-item-header {
  font-size: 1.2rem;
  margin: 0;
}

.form-list-header {
  width: 100%;
  text-align: center;
}

.form-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.form-list-accordion {
  width: 250px;
  height: 50px;
  margin: 20px;
  transition: transform 0.3s ease;
}

.form-list-accordion {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  mat-panel-title {
    flex: 1;
  }

  mat-panel-description {
    flex: 0;
    text-align: right;
  }
}

.form-list-title {
  margin: 10px 5px;
}

.form-list-subtitle {
  margin: 10px 5px;
}
