.brewery-container{
    width: 60%;
    margin: 20px auto;
}
.brewery-beers-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.brewery-beer-item{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}