<div class="beers-body">
  <div class="beer-filters">
    <div class="search-input">
      <input type="text" placeholder="search for a beer..." />
      <mat-icon class ="search-icon">search</mat-icon>
    </div>
  </div>
  <div class="beer-container">
    <mat-card
      [routerLink]="['/beers', beer.id]"
      *ngFor="let beer of beers"
      class="beer-card"
      appearance="raised">
      <img
        class="card-image-header"
        mat-card-image
        [src]="beer.placeholderImage"
        alt="placeholder image of a beer glass" />
      <mat-card-header>
        <mat-card-title-group class="beer-title-group">
          <mat-card-title class="beer-title">{{ beer.name }}</mat-card-title>
          <mat-card-subtitle class="beer-subtitle">{{
            beer.brewery?.name
          }}</mat-card-subtitle>
          <p class="beer-alcohol-percentage">{{ beer.alcoholPercentage }}%</p>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
