.breweries-overview-container {
  width: 80%;
  margin: 40px auto;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 15px 5px;
}

.brewery-row {
  cursor: pointer;
  transition: 0.1.5s ease-in-out;
}

.brewery-row:hover {
  background-color: hsl(25, 95%, 93%);
}
