<nav class="navbar">
  <a class="company-link" href="https://craftcode.be">
    <img
      src="assets/images/craftcode-symbol_black-RGB.png"
      alt="image of craftcode's logo"
      class="company-logo" />
  </a>
  <div class="navbar-content">
    <div class="navlinks">
      <a routerLink="/beers" [class.active]="isActive('/beers')">Beers</a>
      <a routerLink="/breweries" [class.active]="isActive('/breweries')"
        >Breweries</a
      >
      <a
        routerLink="/classifications"
        [class.active]="isActive('/classifications')"
        >Classifications</a
      >
    </div>
  </div>
  <button (keydown.enter)="logout()" (click)="logout()">
    <mat-icon class="logout-icon">exit_to_app</mat-icon>
  </button>
</nav>
