<nav class="navbar">
  <div class="navbar-content">
    <div class="navlinks">
      <a routerLink="/beers" [class.active]="isActive('/beers')">Beers</a>
      <a routerLink="/breweries" [class.active]="isActive('/breweries')"
        >Breweries</a
      >
      <a
        routerLink="/classifications"
        [class.active]="isActive('/classifications')"
        >Classifications</a
      >
    </div>
  </div>
  <button mat-button (keydown.enter)="logout()" (click)="logout()">
    <mat-icon class="logout-icon">exit_to_app</mat-icon>
  </button>
</nav>
