body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
}

.navbar-content {
  display: flex;
  justify-content: center;
}

.navlinks {
  display: flex;
  gap: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.company-link {
  display: flex;
}
.company-logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logout-button {
  padding: 0;
}

.logout-icon {
  color: #565656;
  transition: 0.2s ease-in-out;
  font-size: 24px !important;
}

button:hover .logout-icon {
  color: #fb9c4e;
}

.navlinks a {
  text-decoration: none;
  color: #565656;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.navlinks a:hover {
  color: #fb9c4e;
  border-bottom: 1px solid #fb9c4e;
}

.navlinks a.active {
  color: #fb9c4e;
  border-bottom: 1px solid #fb9c4e;
}
