<h2 mat-dialog-title>
  {{ data.actionType }} {{ data.itemName }}
  <span *ngIf="data.removeFrom">from {{ data.removeFrom }}</span>
</h2>
<mat-dialog-content>
  <p>
    Are you sure you want to {{ data.actionType.toLowerCase() }}
    {{ data.itemName }}?
    <span *ngIf="data.removeFrom"> from {{ data.removeFrom }}? </span> <br />
    <span *ngIf="data.removeFrom">
      You can link {{ data.itemName }} with a different
      {{ data.removeType }} from the {{ data.itemType }} page.
    </span>
    <span *ngIf="data.hasChildren">
      Deleting {{ data.itemName }} will also delete all of its
      {{ data.childType }}.
    </span>
  </p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-action-buttons">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Yes</button>
</mat-dialog-actions>
