.classification-container {
  width: 60%;
  margin: 40px auto;
}

.classification-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.classification-content-container-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.classification-item-header {
  font-size: 32px;
}
.classification-container-actions {
  display: flex;
  justify-content: space-between;
}

.classification-container-edit-button {
  color: #00c3f9;
}

.classification-container-save-button {
  color: #00b539;
}

//form scss

.classification-form-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.classification-form-container-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.classification-item-header {
  font-size: 20px;
  margin: 0;
}

.mat-divider {
  border-top-color: #b8b7b6;
  margin: 10px 0;
}
