<div class="body-container">
  <img
    src="/assets/images/craftcode-full-color_RGB.png"
    class="company-logo-full"
    alt="image of craftcode's logo" />
  <form class="login-form">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        [(ngModel)]="userObj.username"
        name="username"
        required />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="userObj.password"
        name="password"
        type="password"
        required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="login()">
      Login
    </button>
  </form>
</div>
